@import "./global.scss";
@import "./buttons.scss";
@import "./typograph.scss";
@import "./Card.scss";
@import "./modal.scss";
@import "./ProductList.scss";
@import "./header.scss";


*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}