
  .productList {
    display: flex;
    flex-direction: row;
   
    gap: 3.125rem 3.125rem;

    padding: 1rem;
    margin: 1rem auto;
    overflow: auto;
  }
  @media (min-width: 720px) {
    .productList {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }
  }
